html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); background-color: black; }
    10% { transform: translate(-1px, -2px) rotate(-1deg); background-color: aqua; }
    20% { transform: translate(-3px, 0px) rotate(1deg); background-color: red; }
    30% { transform: translate(3px, 2px) rotate(0deg); background-color: limegreen;}
    40% { transform: translate(1px, -1px) rotate(1deg); background-color: yellow;}
    50% { transform: translate(-1px, 2px) rotate(-1deg); background-color: orange; }
    60% { transform: translate(-3px, 1px) rotate(0deg); background-color: grey;}
    70% { transform: translate(3px, 1px) rotate(-1deg); background-color: skyblue;}
    80% { transform: translate(-1px, -1px) rotate(1deg);background-color: rebeccapurple; }
    90% { transform: translate(1px, 2px) rotate(0deg); background-color: fuchsia;}
    100% { transform: translate(1px, -2px) rotate(-1deg); background-color: khaki;}
  }

  



body{
    background-color: blue;
    text-align: center;
    margin: 0px;
    color:white;
}

.header{
    background-color: none;
    background-size: contain;
    background-blend-mode: luminosity;
    display: flex;
    max-width: 100%;
    color: aqua;
    font-size: larger;
    font-weight: bolder;
    align-items: center;
    margin: 15px;
}

.header img{max-width: 150px;
    max-height: 150px;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 0; 

}

.header:hover{
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


.header h1{
    background-color: none;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    color: white;
    font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(30, end), /*how many steps it takes to produce font*/
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
/*@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: blue }
}*/

}



.header > *{
    flex-basis: 100%;
    border: 10px solid aqua;
}

.header .image{
    max-width: 250px;
    max-height: 250px;
    opacity: 0;
  -moz-transition: opacity 2s 5s;  /* Firefox 4 */
  -webkit-transition: opacity 2s 5s; /* Safari and Chrome */
  -o-transition: opacity 2s 5s;
  transition: opacity 2s 5s;
}


.section{
    background-color: black;
    max-width: 100%;
    display:flex;
    flex-direction: row;
    color: aqua;
    margin-left: 15px;
    margin-right: 15px;
}


.column{
    flex-basis:100%;
    margin: 0x;
    margin-bottom: 0px;
}




.column_head1{
    background-color: aqua;
    color:black;
    border: 3px solid black;
}

.column_head2{
    background-color: black;
    color: aqua;
    border: 3px solid aqua;
}



  ul li{
      font-size: 20pt;
      margin-bottom: 10px;
      color:aqua;
  }

  .project{
      display: flex;
      flex-basis:100%;
      align-content:left;
  }

  .project >*{
      text-align: center;
      flex-basis:100%;
      margin: 5px;
  }

  .image img{
    max-width: 80%;
    max-height: 70%;
    margin-bottom: 5px;
    position: relative;
}


button{
    background-color: blue;
    color: aqua
}

button:hover{background-color: aqua;
    color: blue;
    font-style: bold;
    transform: scale(1.2);
    cursor: pointer;

}

.project_item{
    flex-wrap: wrap;
    font-size: 10pt;
    max-height: 100%;
    max-width: 100%;
    overflow:hidden;
}

.career ul{
    text-align: left;
}

.job li{
    font-weight: lighter;
    font-size: smaller;
}

.job p:hover, .cert p:hover{
    text-decoration: underline;
}

.career h2, .skills h2, .education h2{
    text-decoration: underline;
}

.education, .skills, .career{
    background-color: aqua;
    color: black;
}

.career li, .education li{
    text-align: left;
    color: black;
}

.cert, .cert li{
    color:black;
}

.skills li{
    display: inline-block;
    margin-left: 5px;
    color:black;
}

.section2, .section1{
    background-color: aqua;
    flex-basis: 100%;
    color: black;
    

}

.section2{
    display: flex;
    flex-direction: column;


}

.section1{
    background-color: black;
    color: aqua;
}

.resume_item{
    flex-wrap: wrap;
    font-size: 10pt;
    max-height: 100%;
    max-width: 100%;
    overflow:hidden;
}

.resume_item:hover{
    font-style: bold;
    transform: scale(1.3);
    cursor: pointer;
}

.uncw:hover:after {
    position: absolute;
    content: attr(title);
    display: inline-block;
    left: 0px;
    top: 0px;
    padding: 5px;
    background-color: teal;
    color: black;
}

.ac:hover:after{
    position: absolute;
    content: attr(title);
    display: inline-block;
    left: 5px;
    top: 0px;
    padding: 5px;
    background-color: lightskyblue;
    color: blue;

}

.google:hover:after{
    position: absolute;
    content: attr(title);
    display: inline-block;
    left: 0px;
    top: 0px;
    padding: 5px;
    background-color: red;
    color: yellow;

}

.odin:hover:after{
    position: absolute;
    content: attr(title);
    display: inline-block;
    left: 0px;
    top: 0px;
    padding: 5px;
    background-color: burlywood;
    color: black;

}



.career1, .project1{
    text-decoration: underline;
    font-size: 15pt;
}

.project1{
    order: 1;
}
.alltimefantasy{
    order: 2;
}
.ffltechinvoice{
    order: 6;
}
.jittextalerts{
    order: 7;
}
.acsql{
    order: 9;
}

.viasatsql{
    order: 10;
}

.viasataddcontact{
    order: 8;
}

.stockcorr{
    order: 4;
}

.ultimatefire{
    order:11;
}

.dkfootball{
    order: 12;
}

.viasatmoving{
    order: 3
}

.rockpaperscissors{
    order: 5;
}

@keyframes backgroundchangeuncw {
    from {background-image: url(./img/UNCWMGLW.jpg); background-position: right; background-repeat: no-repeat; background-size: contain; background-color: teal;}
    to {background-image: url(./img/uncwintr.jpg); background-position: right; background-repeat: no-repeat; background-size: contain; background-color: teal;}
  }

@keyframes backgroundchangeac {
    from {background-image: url(./img/GophoneChamp.jpg); background-position: right; background-repeat: no-repeat; background-size: contain; background-color: red;}
    to {background-image: url(./img/GophoneChamp.jpg); background-position: right; background-repeat: no-repeat; background-size: contain; background-color: red;}
  }

  @keyframes backgroundchangegoog {
    from {background-image: url(./img/googledata.jpg); background-position: right; background-repeat: no-repeat; background-size: contain; background-color: yellow;}
    to {background-image: url(./img/googledata.jpg); background-position: right; background-repeat: no-repeat; background-size: contain; background-color: yellow;}
  }

  @keyframes backgroundchangeodin {
    from {background-color: goldenrod;}
    to { background-color: goldenrod;}
  }


.career2:hover{
    animation-name: backgroundchangeac;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.career3:hover{
    animation-name: backgroundchangeuncw;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.career4:hover{
    animation-name: backgroundchangegoog;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


.career5:hover{
    animation-name: backgroundchangeodin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}