html{
    box-sizing: border-box;
    }
    
    *, *::before, *::after{
    box-sizing: inherit;
    }

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); background-color: hsl(39, 100%, 50%); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); background-color: black; }
        20% { transform: translate(-3px, 0px) rotate(1deg); background-color: red; }
        30% { transform: translate(3px, 2px) rotate(0deg); background-color: black;}
        40% { transform: translate(1px, -1px) rotate(1deg); background-color: red;}
        50% { transform: translate(-1px, 2px) rotate(-1deg); background-color: orange; }
        60% { transform: translate(-3px, 1px) rotate(0deg); background-color: black;}
        70% { transform: translate(3px, 1px) rotate(-1deg); background-color: red;}
        80% { transform: translate(-1px, -1px) rotate(1deg);background-color: orange; }
        90% { transform: translate(1px, 2px) rotate(0deg); background-color: black;}
        100% { transform: translate(1px, -2px) rotate(-1deg); background-color: red;}
      }


body{
    background-image: linear-gradient(teal, lightblue, aqua);
    color: black;
    margin: 5px;
}

#container{
    display: flex;
    max-width: 100%;
    margin: 10px;
}



#totalCredits p{
    text-align: center;
}

.credits{
    text-align: center;
}

#resume{
    background-image: linear-gradient(teal, lightblue, aqua);
    flex-basis: 100%;
    padding: 0px;

}

#projects{
    background-color: rgba(255, 255, 255, 0.5);
    flex-basis: 100%;
    backdrop-filter: blur(10px) saturate(100%) contrast(55%) brightness(130%);
    border: 10px solid black;
    
}



.row{
    display: flex;
    align-content: left;
}

.header{
    text-align: center;
    padding: 17px;

}

.header2{
    color: black;
}

h2{
    text-align: center;
}

#avatar{
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
}

.projectitem{
    flex-basis: 100%;
    display: flex;
    text-align: center;
    color: black;

}

#avatar img{
    max-width: 70%;
    max-height: 500px;
    flex-basis: 100%;
}

.projectitem img{
    max-width: 70%;
    opacity:70%;
    max-height: 35px;
    margin-top: 5px;
}

.project{
    flex-basis: 100%;
}

#avatar{
    display:flex;
    background-image: linear-gradient(teal, lightblue, aqua);
}


*.avatar{
    flex-basis: 100%;
}



#projects1{
    background-image: linear-gradient(teal, lightblue, aqua);
    flex-basis: 40%;
}

button{
    background-image: linear-gradient(teal, lightblue, aqua);
    color: black;
    cursor: pointer;
}

#buttons button{
    padding: 5px;
}

#sentinfo{
    max-height: 100px;
    
}

#projects{
    font-size: smaller;
}

.buttonFlex{
    display: flex;
    justify-content: center;
}

*.buttonFlex{
    flex-basis: 100%;
}

#me{
    cursor: pointer;
}

#me:active{
    border: 10px solid black;

}




