html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: black;
    text-align: center;
    margin: 0px;
}

.header{
    background-color: black;
    display: flex;
    max-width: 90%;
    color: aqua;
    font-size: larger;
    font-weight: bolder;
    align-items: center;
    margin: 10px;
}

.header h1{
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 50pt;
    color: blue;
    font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(30, end), /*how many steps it takes to produce font*/
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: aqua }
}

}



.header > *{
    flex-basis: 100%;
    border: 10px solid aqua;
}

.header .image{
    max-width: 250px;
    max-height: 250px;
    opacity: 0;
  -moz-transition: opacity 2s 5s;  /* Firefox 4 */
  -webkit-transition: opacity 2s 5s; /* Safari and Chrome */
  -o-transition: opacity 2s 5s;
  transition: opacity 2s 5s;
}


.section{
    background-color: aqua;
    max-width: 90%;
    display:flex;
    flex-direction: row;
    color: aqua;
    margin-top: 0px;
}


.column{
    flex-basis:100%;
    margin: 0x;
    margin-bottom: 0px;
}



.column_head1{
    background-color: aqua;
    color:blue;
    border: 3px solid blue;
}

.column_head2{
    background-color: blue;
    color: aqua;
    border: 3px solid aqua;
}

.column_spin{
    flex-basis: 100%; /*can remove this for different effect*/
    background-color: aqua;
    color:black;
    font-size: 20pt;
    background-color: none;
    animation-name: spin;
    animation-duration: 7000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
     /* transform: rotate(0.3rad);/ */
     /* transform: rotate(3grad); */ 
     /* transform: rotate(.03turn);  */
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

  ul li{
      font-size: 20pt;
      margin-bottom: 10px;
      color:aqua;
  }

  .project{
      display: flex;
      flex-basis:100%;
      align-content:left;
      max-height: 200px;
  }

  .project >*{
      text-align: center;
      flex-basis:100%;
      margin: 10px;
  }

  .image img{
    max-width: 80%;
    max-height: 80%;
}

.project1{
    order: 3;
}
.project2{
    order: 2;
}

.project3{
    order: 1;
}

button{
    background-color: aqua;
}

button:hover{background-color: blue;
    color: aqua;
    font-style: bold;
    transform: scale(1.2);
    cursor: pointer;

}

.project_item{
    flex-wrap: wrap;
    font-size: 10pt;
    max-height: 100%;
    max-width: 100%;
    overflow:hidden;
}

.career ul{
    text-align: left;
}

.job li{
    font-weight: lighter;
    font-size: smaller;
}

.job p:hover, .cert p:hover{
    text-decoration: underline;
}

.career h2, .skills h2, .education h2{
    text-decoration: underline;
}

.education, .skills, .career{
    background-color: aqua;
    color: black;
}

.career li, .education li{
    text-align: left;
    color: black;
}

.cert, .cert li{
    color:black;
}

.skills li{
    display: inline-block;
    margin-left: 5px;
    color:black;
}

.section2{
    background-color: blue;
    border: 3px solid aqua;
}

.section1{
    border: 3px solid blue;
}