html{
box-sizing: border-box;
}

*, *::before, *::after{
box-sizing: inherit;
}
/*Giving vending outline its properties*/
.vendingoutline{
    max-width: 100%;
    max-height: 100%;
    border: 25px solid black;
    flex-basis: 100%;

}

h2{
    text-align: center;
    color: green
}

#credits{
    border-bottom: 10px solid black;
}
.vendingglassrow{
    max-width: 100%;
    max-height: 100%;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    flex-direction: row;

}

.vendingitem{
    flex-basis: 100%;
    text-align: center;
}

.vendingitem video{
    max-width: 80%;
    max-height: 70%;
    margin-bottom: 5px;
    position: relative;
}

.vendingitem img{
    max-width: 80%;
    max-height: 70%;
    margin: 10px;
    position: relative;

}

.vendingslot{
    background-color: black;
    max-width: 80%;
    max-height: 70%;
    padding: 100px;
    align-self: center;


}

